<ion-view view-title="Cadastros">
  <ion-content class="padding">
      
	<button class="button button-full button-positive" ui-sref="tabs.cadmaquina">Cadastro de M&#225;quina</button>
      
    <button class="button button-full button-positive" ui-sref="tabs.cadtipomaquina">Cadastro de Tipo de M&#225;quina</button>
         
    <button class="button button-full button-positive" ui-sref="tabs.cadoleo">Cadastro de &#211;leo</button>
        
    <button class="button button-full button-positive" ui-sref="tabs.cadprmprocesso">Cadastro de Par&#226;metros de Processo</button>
      
    <button class="button button-full button-positive" ui-sref="tabs.cadmatprocesso">Cadastro de Material de Processo</button>
   
  </ion-content>
</ion-view>
