<ion-view view-title="Contato">
  <ion-content class="padding">	
		<div class="list list-inset">
			<label class="item item-input">
				<input ng-model="cadastro.email" type="text" placeholder="Digite o seu e-mail">
			</label>	
			<br>
			<label class="item item-input">
				<input ng-model="cadastro.mensagem" type="text" placeholder="Digite a mensagem">
			</label>	
			<br>
			<button class="button button-full button-positive" ng-click="enviar()">Enviar</button>		
		</div>		
    </ion-content>
</ion-view>
